/* #wpbody,
#wpcontent {
} */
#wpbody {
	display: flex;
}
.body {
	background: #ebebeb;
}
#wpbody-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.view {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: Column;
}
.header {
	background: #ebebeb;
	padding: 15px;
}

.controls {
	display: flex;
	padding: 15px;
	background: #217297;
}

.btn {
	z-index: 99;
	background: #333;
	color: #fff;
	position: relative;
	padding: 15px;
	margin: 5px;
	cursor: pointer;
}

#preview {
	width: 100%;
}
#banner-wrap {
	width: 90%;
	height: 150px;
	border: 2px solid #333;
	display: block;
	left: 0;
	right: 0;
	margin: auto;
}
#banner {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #217297;
}
#banner > p {
	font-size: 18px;
	color: #fff;
}
#banner > .btn {
	margin-left: 5%;
}
#banner > .btn {
	text-decoration: none;
}

.add-form {
	padding: 15px;
}

.form-section {
	display: flex;
	width: 100%;
	margin: 15px auto;
	justify-content: space-around;
	align-items: center;
}
.form-section > label {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	margin: 5px;
}

.active {
	opacity: 1 !important;
	height: auto !important;
}

.form-section > label > input[type="text"],
.form-section > label > select {
	background: #fff;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 0px;
	width: 100%;
}
.form-section > label > select {
	border: 1px solid #333;
}

@media (max-width: 767px) {
	.form-section {
		flex-direction: column;
	}
	.form-section > label {
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}
